{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "airbnb-typescript"
    ],
    "plugins": [
        "react",
        "import"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}